{{ define "main" }}
<main
  class="selection:bg-green-200 mt-16 md:mt-32 min-h-screen print:min-h-0 prose prose-h2:mb-3 prose-h2:text-gray-500 prose-h3:text-lg px-3 mx-auto max-w-[80ch] print:max-w-none print:m-0 print:p-0 print:prose-sm print:prose-headings:mt-2 print:prose-headings:mb-1 print:prose-h3:m-0 print:prose-p:m-0 print:prose-ul:mt-0 print:prose-ul:mb-2 print:prose-li:m-0">
  <h1 class="mb-0 flex flex-row flex-nowrap items-center gap-0.5">
    {{ $resize := images.Process "webp q100 resize x34" }}
    {{ with resources.Get "img/BB_Logo_Mark_Color_NoPadding.png" }}
      {{ with .Filter $resize }}
    <img class="hidden print:block m-0 print:my-0 mr-2 h-fit" width="{{ .Width }}" height="{{ .Height }}" src="{{ .RelPermalink }}" />
      {{ end }}
    {{ end }}
    {{ $hash := dict "vendor" "feather" "name" "hash"
    "className" "text-green-600 hidden sm:block print:hidden" }}
    {{ partial "icons/icon" $hash }}
    <span class="print:hidden">{{ .Title }}</span>
    <span class="hidden print:block">Isaac Braun</span>
    <button onclick="print()" aria-label="Print Resume" class="hidden sm:block button !px-2 !py-1 !ml-auto print:hidden">
      <span class="sr-only">Print Resume</span>
      {{ $print := dict "vendor" "feather" "name" "printer"
      "className" "h-5" }}
      {{ partial "icons/icon" $print }}
    </button>
  </h1>
  <p class="mt-2 pb-2 pl-1 print:pl-0 text-gray-500 border-b-2 rounded-sm border-green-600">
    <span class="print:hidden">{{ .Description }}</span>
    <span class="hidden print:block">isaac@braunbauen.com | Portfolio at braunbauen.com</span>
  </p>
  <section>{{ .Content }}</section>
</main>
{{ end }}
