{{ define "main" }} {{ $hash := dict "vendor" "feather" "name" "hash"
"className" "text-green-600" }}
<main
  class="mt-16 md:mt-32 print:mt-2 prose prose-h2:mb-3 prose-h3:text-lg
  px-3 mx-auto print:max-w-none print:prose-h2:mb-1">
  <h1 class="mb-0 flex flex-row flex-nowrap gap-0.5">
    {{ partial "icons/icon" $hash }}
    <span>{{ .Title }}</span>
  </h1>
  <p class="mt-2 pb-2 pl-1 text-gray-500 border-b-2 rounded-sm border-green-600">
    {{ .Description }}
  </p>
  <section> 
    {{ .Content }}
  </section>
</main>
{{ end }}
