{{ define "main" }}
{{ $hash := dict "vendor" "feather" "name" "hash" "className" "text-green-600 hidden sm:block" }}
<main class="bauen-prose">
  <h1 class="mb-0 flex flex-row flex-nowrap gap-0.5 text-balance">
    {{ partial "icons/icon" $hash }}
    <span>{{ .Title }}</span>
    {{ with len (.Pages) }}
      {{ if eq . 1 }}
        <span>&nbsp;({{ . }} Post)</span>
      {{ else }}
        <span>&nbsp;({{ . }} Posts)</span>
      {{ end }}
    {{ end }}
  </h1>
  <aside class="mt-2 pb-2 pl-1 text-gray-500 border-b-2 rounded-sm border-green-600">
    {{ .Description }}
  </aside>
  <article>
    <ul>
      {{ range .Pages.ByDate }}
        <a title="{{ .LinkTitle }}" href="{{ .RelPermalink }}">
          <h2>{{ .Date.Format "2006-01-02" }} | {{ .LinkTitle }}</h2>
          <p>{{ .Description }}</p>
        </a>
      {{ end }}
    </ul>
  </article>
</main>
{{ end }}
