@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-mono: "Space Mono", monospace;

  --color-green-200: #edf8f3;
  --color-green-600: #009f4f;
  --color-green-700: #078244;

  --shadow-smooth-20: "0px 0.6px 0.8px rgba(0, 0, 0, 0.014), 0px 1.3px 2px rgba(0, 0, 0, 0.02), 0px 2.5px 3.8px rgba(0, 0, 0, 0.025), 0px 4.5px 6.7px rgba(0, 0, 0, 0.03), 0px 8.4px 12.5px rgba(0, 0, 0, 0.036), 0px 20px 30px rgba(0, 0, 0, 0.05)";
  --shadow-smooth-40: "0px 1.1px 1.1px rgba(0, 0, 0, 0.014), 0px 2.7px 2.7px rgba(0, 0, 0, 0.02), 0px 5px 5px rgba(0, 0, 0, 0.025), 0px 8.9px 8.9px rgba(0, 0, 0, 0.03), 0px 16.7px 16.7px rgba(0, 0, 0, 0.036), 0px 40px 40px rgba(0, 0, 0, 0.05)";
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility prose {
  @apply print:prose-xs;

  a {
    @apply underline underline-offset-2;
  }

  ul, li {
    /* this is not correct - find better padding or use fixed value */
    @apply my-2 pl-1;
  }
  ul {
    @apply list-disc;
  }
  li {
    @apply list-decimal;
  }
}
/* @utility bauen-prose { */
/*   @apply selection:bg-green-200 print:leading-normal my-16 md:my-32 min-h-screen print:min-h-0 h2:mb-3 h2:text-gray-500 h3:text-lg px-3 mx-auto max-w-[80ch] print:max-w-none print:m-0 print:p-0 print:prose-headings:mb-1 print:prose-h2:text-lg print:prose-h3:m-0 print:prose-h3:text-base print:p:m-0 print:ul:mt-0 print:ul:mb-2 print:li:m-0; */
/* } */

@utility prose-xs {
  @apply text-xs;

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-[1.1rem];
  }
  p {
    @apply my-3;
  }
}

@layer base {
  a {
    @apply transition-colors duration-300 ease-in-out hover:text-green-700;
  }
}

@utility tooltip {
  @apply invisible opacity-0 absolute bottom-[140%] -translate-x-10 w-20 transition-opacity duration-300 ease-in-out bg-gray-300 text-gray-900 rounded-sm text-xs shadow-lg p-1;

  &::after {
    @apply absolute left-[50%] top-full -ml-2 border-8 border-transparent border-t-gray-300 content-[''];
  }

  &.clicked {
    @apply bg-green-700 text-white;
  }

  &.clicked::after {
    @apply border-t-green-700;
  }

  .has-tooltip:hover & {
    @apply visible opacity-100 z-50;
  }
}

@utility clicked {
  &.tooltip {
    @apply bg-green-700 text-white;
  }

  &.tooltip::after {
    @apply border-t-green-700;
  }
}

@utility has-tooltip {
  @apply relative;

  &:hover .tooltip {
    @apply visible opacity-100 z-50;
  }
}

@utility button {
  @apply font-mono text-green-700 rounded-sm bg-green-200 px-4 sm:px-6 h-[41px] w-fit flex items-center hover:bg-green-700 hover:text-white transition-colors duration-300 ease-in-out hover:selection:bg-gray-700;
}

@utility button-light {
  @apply font-mono text-green-700 rounded-sm bg-transparent border border-green-700 px-4 sm:px-6 h-[41px] w-fit flex items-center hover:bg-green-700 hover:text-white transition-colors duration-300 ease-in-out;
}

@utility button-dark {
  @apply font-mono text-white rounded-sm border border-green-700 bg-green-700 px-4 sm:px-6 h-[41px] w-fit flex items-center hover:bg-transparent hover:text-green-700 transition-colors duration-300 ease-in-out;
}

swiper-main .swiper-button-next.swiper-button-disabled,
swiper-main .swiper-button-prev.swiper-button-disabled {
  @apply opacity-0;
}

@media only screen and (min-width: 450px) {
  .swiper-wrapper {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 2%,
      rgb(0, 0, 0) 6%,
      rgb(0, 0, 0) 94%,
      rgba(0, 0, 0, 0.4) 98%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .atBeginning > .swiper-wrapper {
    mask-image: linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 94%,
      rgba(0, 0, 0, 0.4) 98%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .atEnd > .swiper-wrapper {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 2%,
      rgb(0, 0, 0) 6%,
      rgb(0, 0, 0) 100%
    );
  }
}
