<swiper-item class="swiper-slide !h-auto max-w-[400px]">
  {{ $link := .Get "link" }}
  {{ if $link }}
  <a class="block h-full rounded-lg bg-green-200 border-4 border-green-200 overflow-hidden" href="{{ $link }}" aria-label="{{ .Get "label" }}" target="_blank">
  {{ else }}
  <div class="block h-full rounded-lg bg-green-200 border-4 border-green-200 overflow-hidden">
  {{ end }}
  {{ if .Get "src" }}
    {{ $src := .Get "src" }}
    {{ $alt := .Get "alt" }}
    {{ $resize := images.Process "webp q100 fill 1200x900 center" }}
    {{ with resources.Get $src }}
      {{ with .Filter $resize }}
      <img class="object-cover" alt="{{ $alt }}" width="1200" height="900" src="{{ .RelPermalink }}" />
      {{ end }}
    {{ end }}
  {{ end }}
    <div class="px-4 pt-3 pb-5">
      <h3 class="text-lg text-green-700 font-semibold text-balance flex gap-1">{{ .Get "title" }}</h3>
      <p class="text-gray-600">{{ .Get "client" }}</p>
      {{ if strings.ContainsNonSpace .Inner }}
        <p class="text-gray-700 mt-2">
        {{ .Inner }}
        </p>
      {{ end }}
    </div>
  {{ if $link }}
  </a>
  {{ else }}
  </div>
  {{ end }}
</swiper-item>
